XMLExample/XMLExample/XMLFile1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Book">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="BookName" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="ReleaseYear" type="xs:unsignedShort" />
        <xs:element maxOccurs="unbounded" name="Publication" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>